html {
    height: 100%;
    width: 100%;
  }
  
body {
    background-color: black;
}

h1, h4 {
    color: white;
    font-family: "Garamond", Times, serif; 
}

.center-outer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.center-inner {
    text-align: center;
}
